<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/mahasiswa" method="post">
        <label for="nama">Nama:</label><br>
        <input type="text" name="nama" id="nama"><br>
        <label for="nim">Nim:</label><br>
        <input type="text" name="nim" id="nim"><br><br>
        <input type="submit" value="Submit">
    </form>

    <p>Nama: {{mahasiswa.nama}}</p>
    <p>Nim: {{mahasiswa.nim}}</p>
</body>
</html>